@model IEnumerable<DeliverymanCityViewModel>

@{
    ViewData["Title"] = "Accueil livreur";
}

<h2>Accueil livreur</h2>

@foreach (var item in Model)
{
    <div>
        <h3>Bienvenue @Html.DisplayFor(modelItem => item.Deliverymens.Name) !</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Votre adresse :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Deliverymens.Address)
                @Html.DisplayFor(modelItem => item.Cities.Name)
                @Html.DisplayFor(modelItem => item.Cities.Zip_code)

            </dd>
        </dl>
    </div>
}
<div class="row" align="center">
    <div class="col-sm-6" align="center">
        <a asp-controller="Delivery" asp-action="ListeDeliverys" class="btn btn-success" role="button">Voir les livraisons</a>
    </div>
</div>
