
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    HES-SO Valais<br />
    3960 Sierre<br />
    <abbr title="Phone"><span class="glyphicon glyphicon-phone"></span></abbr>
    079/847 06 92
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mathieu.favez@students.hevs.ch">mathieu.favez@students.hevs.ch</a><br />
</address>