@{
    ViewData["LiamMathieuDelivery"] = "Liam et Mathieu Delivery";
}

    <div class="item" align="center">
        <img src="~/images/LMD.png" alt="Liam Mathieu Delivery" style="width:300px;height:400px"/>
    </div>

            <div class="row" align="center">
                <div class="col-sm-6" align="right">
                    <h2>Client</h2>
                    <a asp-controller="Customer" asp-action="Connexion" class="btn btn-success" role="button">Connexion</a>
                </div>
                <div class="col-sm-6" align="left">
                    <h2>Livreur</h2>
                    <a asp-controller="Deliveryman" asp-action="Connexion" class="btn btn-success" role="button">Connexion</a>
                </div>
            </div>
