@{
    ViewData["LiamMathieuDelivery"] = "Liam et Mathieu Delivery";
}

    <p><h2$>Bienvenue sur Liam et Mathieu Delivery</h2$></p>

<div class="row">
    <div class="col-md-3">
        <h2>Client</h2>
        <ul>
            <li><a href="https://localhost:44311/Customer/Connexion">Connexion</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Deliveryman</h2>
        <ul>
            <li><a href="https://localhost:44311/Deliveryman/Connexion">Connexion</a></li>
        </ul>
    </div>
    
</div>
