@model DTO.Order_Dish
    <--!>
        Le client insère la quantité qu'il désire pour le plat en question et revient au "panier" lorsqu'il confirme
        Bouton Retour à la liste des plats
    </--!>

@{
    ViewData["Title"] = "GetQuantity";
}

<h2>Choisir la quantité</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetQuantity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantité</label>
                <input asp-for="Quantity" class="form-control" min="1" max="99"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmer" class="btn btn-success" />
            </div>

           
        </form>
    </div>
</div>
<a asp-controller="Dish" asp-action="ListeDishes">Retour à la liste des plats</a>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
