@model IEnumerable<DTO.Delivery_Time>

    <!--
        Affiche les heures de livraisons disponibles avec un bouton Choisir
    -->

@{
    ViewData["Title"] = "Choisir une heure de livraison";
}

<h2>Choisir une heure de livraison</h2>

<a asp-controller="Order_Dish" asp-action="ListOrder_Dish">Retour à la liste des plats commandés</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Heure de livraison
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery_time)
            </td>
            <td>
                <div align="center">
                    <a asp-controller="Delivery_Time" asp-action="ChoixDelivery_Time" asp-route-id="@item.IdDelivery_Time" class="btn btn-success" role="button">Sélectionner</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
