@model IEnumerable<DTO.Delivery_Time>

@{
    ViewData["Title"] = "Choisir une heure de livraison";
}

<h2>Choisir une heure de livraison</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Heure de livraison
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery_time)
            </td>
            <td>
                @Html.ActionLink("Sélectionner", "ChoixDelivery_Time", new {  id=item.IdDelivery_Time }) 
            </td>
        </tr>
}
    </tbody>
</table>
