<--!>
    Intervient quand la livraison est confirmée
    Bouton pour revenir à la page d'accueil du client
</--!>
@{
    ViewData["Title"] = "DeliveryConfirmed";
}

<h2>Votre commande est en route ! </h2>

<div class="row" align="center">
    <div class="col-sm-4" align="center">
        <a asp-controller="Customer" asp-action="HomeCustomer" class="btn btn-success" role="button">Retour au menu</a>
    </div>
</div>

