<!-->
    Intervient si aucun Livreur n'a pu être assigné à la commande. Message d'erreur et bouton pour retourner au menu du client
-->
@{
    ViewData["Title"] = "NoDeliverymanAvailable";
}

<h2>Oups, aucun livreur n'est disponible...</h2>

<div class="row" align="center">
    <div class="col-sm-4" align="center">
        <a asp-controller="Customer" asp-action="HomeCustomer" class="btn btn-success" role="button">Retour au menu</a>
    </div>
</div>