<!--
    Intervient quand le client annule sa commande
-->
@{
    ViewData["Title"] = "Annuler";
}

<h2>Votre commande a été annulée !</h2>

<div class="row" align="center">
    <div class="col-sm-4" align="center">
        <a asp-controller="Customer" asp-action="HomeCustomer" class="btn btn-success" role="button">Retour au menu</a>
    </div>
</div>

