@model IEnumerable<OrderDeliveryDelivery_TimeViewModel>

@{
    ViewData["Title"] = "Vos commandes";

    DateTime date3heures = DateTime.Parse("03:00");
    string date3heuress = date3heures.ToString("HH:mm");

    TimeSpan date3HeuresOk = TimeSpan.Parse(date3heuress);

    string dateNow = DateTime.Now.ToString("HH:mm");
    TimeSpan dateNowOk = TimeSpan.Parse(dateNow);


}



<h2>Vos commandes</h2>

<table id="tableSortedByIdOrder" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Numéro de la commande
            </th>
            <th>
                Statut
            </th>
            <th>
                Heure de livraison
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Orders.IdOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orders.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_Times.Delivery_time)
                </td>
                <td>
                    <div align="center">

                        
                        @if (item.Orders.Status == "En cours" /*&& (DateTime.Compare  (DateTime.Parse (item.Delivery_Times.Delivery_time).Subtract(dateNowOk)   ,   date3HeuresOk )  >0    */  )
                        {

                            //Test pour afficher le bouton annulé au maximum 3 heures avaant...Echec
                            <a asp-controller="Order" asp-action="CancelOrder" asp-route-id="@item.Orders.IdOrder" class="btn btn-danger" role="button">Annuler la commande</a>

                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
