@model DTO.Customer

@{
    ViewData["Title"] = "HomeCustomer";
}

<h2>Accueil client</h2>

<div>
    <h3>Bienvenue @Html.DisplayFor(model => model.Name) !</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Votre adresse :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div class="row" align="center">
    <div class="col-sm-4" align="right">
        <div class="form-group">
            <a href="https://localhost:44311/Restaurant/ListeRestaurant" type="submit" value="Nouvelle commande" class="btn btn-success" />
        </div>
        <div class="col-sm-4" align="center">
            <div class="form-group">
                <a href="https://localhost:44311/Restaurant/ListeRestaurant" type="submit" value="Voir les commandes" class="btn btn-success" />
            </div>
        </div>
        <div class="col-sm-4" align="left">
            <div class="form-group">
                <a href="https://localhost:44311/Restaurant/ListeRestaurant" type="submit" value="Changer l'adresse de livraison" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
